@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-image: url("/images1/bg.png");
  background-repeat: no-repeat;
  height: max-content;
  width: 100%;
  background-size: cover;
  font-family: "Inter", sans-serif !important; 
}


/* 
@media only screen and (max-width: 430px) {

  body{
    background-image: url("/images/mobilebg.png");
    height:fit-content;
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
    }
    
}  */


.slider {
  background-image: url(/images1/Main.png);
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
  /* min-height: 100vh; */
  border-radius: 30px !important;
}

.footer {
  background-image: url(/images1/footer.png);
  /* background-color: aqua; */
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  border-radius: 30px !important;
}

.testi {
  background-image: url(/images1/testi.png);
  background-repeat: no-repeat;
  height: max-content;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-radius: 30px !important;
}

.customInput{
  border-radius: 10px;
  border: 2px solid #E2E8F0;
  padding: 10px, 20px, 10px, 15px;
}


@media only screen and (max-width: 769px) {
  .testi {
    background-image: url(/images1/testi.png);
    background-repeat: no-repeat;
    height: max-content !important;
    background-size: cover;
    background-position: center;
    /* border-radius: 30px !important; */
  }
  .slider {
    background-image: url(/images1/Main.png);
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    border-radius:  0px !important;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}